<div class="h2-holder">
    <h2 class="text-2xl text-left"> Pokemons in Wallet </h2>
</div>

<div class="relative overflow-auto shadow-md sm:rounded-lg" style = "max-height: 50vh">
    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400 h-32", style="height: 150px !important; overflow: auto !important;">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <th scope="col" class="px-6 py-3"> Pokemon </th>
            <th scope="col" class="px-6 py-3"> Quantities </th>
            <th scope="col" class="px-6 py-3"> Current Value </th>
        </thead>
        <tbody>
            <% @user_pokemons.each do |pokemon|%>
                <% avaluation =  @wallet.wallet_avaluation_by_pokemon(pokemon.last, pokemon.first.value_in_dollar(@bitcoin_value)) %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap"><%= pokemon.first.name %> <%= image_tag(pokemon.first.sprite, class: "mx-auto") %> </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap"> <%= pokemon.last[:amount] %> </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap"> $ <%= avaluation[:current_value].round(2) %> 
                    <% if avaluation[:percentage].positive? %>
                        <span class = "text-green-600"> ↑<%= avaluation[:percentage].round(2) %>%</span> 
                    <% elsif avaluation[:percentage].negative? %>
                        <span class = "text-red-600"> ↓<%= avaluation[:percentage].round(2) %>%</span>
                    <% end %>
                    </th>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>