<% if notice %>
    <p class="text-left mb-8"><%= notice %></p>
<% end %>

<% avaluation = @wallet.wallet_total_avaluation_balance(@bitcoin_value) %>

<div class="flex" style="justify-content: space-between;">
    <div> 
        <h3> 
            Wallet Balance: $ <%= avaluation[:current_value].round(2) %>
            <% if avaluation[:percentage].positive? %>
                <span class = "text-green-600"> ↑<%= avaluation[:percentage].round(3) %>% </span> 
            <% elsif avaluation[:percentage].negative? %>
                <span class = "text-red-600"> ↓<%= avaluation[:percentage].round(3) %>% </span>
            <% end %>
        </h3>
    </div> 
    <div> <h3> USD in Wallet: $ <%= @wallet.balance.round(3) %> </h2> </div> 
    <div> <h3> Invested Balance: $ <%= @wallet.invested_balance(@bitcoin_value).round(3) %> </h2> </div>
    <div> <h3> BTC value in USD: $ <%= @bitcoin_value.round(2) %> </h2> </div>
</div>

<div class="py-10">
    <div class="w-full border-t border-gray-300"></div>
</div>

<%= render partial: 'pokemons' %>

<div class="py-10">
    <div class="w-full"></div>
</div>

<%= render partial: 'wallet' %>

<div class="py-10">
    <div class="w-full"></div>
</div>

<%= render partial: 'transaction_history' %>

<div class="py-10">
    <div class="w-full"></div>
</div>
